/* FONT FAMILY POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #007bff;
}

.start-btn,
.info-box,
.quiz-box,
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.info-box.activeInfo,
.quiz-box.activeQuiz,
.result-box.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start-btn button {
    font-weight: 500;
    font-size: 20px;
    color: #007bff;
    padding: 10px;
    border-radius: 10px;
    /* border: none; */
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.start-btn button:hover {
    background-color: green;
    color: white;
    box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, 0.5);
}

.info-box {
    background-color: white;
    width: 80%;
    max-width: 550px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info-title {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 8px;
}

.info-title span {
    margin: 1rem;
    font-weight: bold;
    font-size: 18px;

}

.info-list {
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
}

.info-list span {
    color: #007bff;
    font-weight: bold;
}

.info-box .button {
    display: flex;
    justify-content: flex-end;
}

.info-box .button button {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid blue;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.restart {
    background-color: #007bff;
    color: white;
}

.restart:hover {
    background-color: #1e6ec4;
    font-weight: 550;
}

.button button:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.quit {
    color: #007bff;
}

.quit:hover {
    background-color: #007bff;
    color: white;
}

.quiz-box {
    background-color: white;
    width: 80%;
    max-width: 549px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
}

.quiz-box section {
    border-bottom: 1px solid lightgray;
}

.quiz-box header {
    height: 70px;
    padding: 0 30px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 99;

}

.quiz-box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    display: flex;
    gap: 1rem;
    background: #cce5ff;
    padding: 8px;
    border-radius: 8px;
}

.quiz-box header .timer .time-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
    display: flex;
    align-items: center;
}

.quiz-box header .timer .timer-sec {
    font-size: 18px;
    font-weight: 500;
    background-color: #343a40;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-box header .time-line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background-color: #007bff;
}



.quiz-box section {
    padding: 25px 30px 20px 30px;
    background-color: #fff;
}

.quiz-box section .que-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .option-list {
    padding: 20px 0;
    display: block;
}

section .option-list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option-list .option:hover {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.option-list .option:last-child {
    margin-bottom: 0px;

}

.option-list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
}

.option-list .option .icon.tick {
    border-color: green;
    color: green;
    background-color: #d4edda;
}

.option-list .option .icon.cross {
    border-color: red;
    color: red;
    background-color: #f8d7da;
}

.option-list .option.correct {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.option-list .option.incorrect {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box footer {
    height: 60px;
    /* width: 100%; */
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.quiz-box footer .total-que span {
    display: flex;
    user-select: none;
    gap: 5px;
}

footer .total-que span p {
    font-weight: 500;
}

footer .next-btn {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    /* outline: none; */
    background-color: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    color: #fff;
}

footer .next-btn:hover {
    background-color: #0263ca;
}

.result-box {
    background-color: white;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result-box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result-box .complete-text {
    font-size: 20px;
    font-weight: 500;
}

.result-box .score-text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result-box .score-text p {
    font-weight: 600;
    padding: 0 4px;
}

.result-box .button {
    display: flex;
    margin: 20px 0;
}

.result-box .button button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media(max-width:462px) {
    .result-box .button button {
        height: max-content;
    }

    .quiz-box {
        overflow-x: hidden;
    }
}

@media(max-width:409px) {
    .quiz-box header {
        height: max-content;
    }
}